@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('/fonts/NeueHaasUnicaPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('/fonts/NeueHaasUnicaPro-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/fonts/NeueHaasUnica-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

:root {
  --font-medium: 'Neue Haas Unica Pro', 'Neue Haas Unica', sans-serif;
  --font-heavy: 'Neue Haas Unica Pro', sans-serif;
  --font-desc: 'Neue Haas Unica', sans-serif;
}

body {
  color: #000000;
  background: #FFFFFF;
  font-family: var(--font-medium);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.32px;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  /* REMOVED THE PADDING RULES HERE */
}

/* Utilities */
.max-w-custom {
  max-width: 1123px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html.lenis, html.lenis body { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto !important; }
.lenis.lenis-stopped { overflow: hidden; }